extends layouts/LayoutTheme
include mixins/homes/Automotive
include mixins/homes/sections/Comparison 

append variables
  - var attrsHtml = Object.assign({ lang: `${ dir === 'rtl' ? 'ar' : 'en-US'}`, dir: dir || 'ltr', class: 'has-sidemenu has-sidemenu-left' });

  
prepend scripts
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 


block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

append mainContent 
  +Header
  +AutomotiveSoftware
  +Comparison
