extends ../layouts/DiscountLayout
include ../mixins/pages/Discount.pug


append variables
  - var bg = 'discount';

block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

block splitRightContent 
  +Discount
