extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetailJson.pug

prepend scripts
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/progressbar/progressbar.min.js`)  

block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

append mainContent  
  -
    const data = {
      "company": "EZ360", 
      "tagline": "The Leading Automated AI Photo Software with the Top Quality Photo Studio",
      "details": "Don't just take amazing photos with the THETA X and EZ360 \
      Photo Studio, display them!  Only EZ360 displays 4K and higher resolution \
      interior and exterior pictures with 8x zoom so car buyers can see vehicle \
      details … just like they're in your showroom. \
      EZ360 Automated 4K Photo Studios are custom-designed for your space with \
      300K lumen stadium lights, photographic plastic walls, fiberglass turntable, \
      and infinity floor to deliver the best quality photos.  EZ360 software \
      features 4K pictures, automated operation, instant web site publishing, \
      and AI cropping and enhancement.",
      "referenceLink": "https://ez360.tv/",
      "image": "ez360_800x600.png",
      "referenceLinkLabel": "EZ360"      
    }
    const compatData = {
      "showChart": true,
      "connect": 100,
      "takePicture": 100,
      "view": 100,
      "opinion": "Good car sales app, focus is on key sales features. Noticeably good connection to camera.",
      "details": "Can take and display 11K pictures. No immediate post view in mobile app."              
    }
  +AwardDetailJson(data, compatData)