extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetailJson.pug
include ../mixins/homes/sections/CompatibilityProgressBar.pug

prepend scripts
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/progressbar/progressbar.min.js`)  

block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

append mainContent  
  -
    const data = {
      "company": "InstaVid360", 
      "tagline": "Make your vehicles stand out from the rest",
      "details": "InstaVid360 is a leading provider of 360° Spins, \
      Video and Guided Photography technology for automotive merchandising. \
      InstaVid360's innovative platform allows users to create immersive \
      and engaging content with ease, content proven to increase \
      conversions and brand perception.",
      "referenceLink": "https://www.instavid360.com/",
      "image": "instavid_banner.webp",
      "referenceLinkLabel": "InstaVid360"      
    }
    const compatData = {
      "showChart": true,
      "connect": 100,
      "takePicture": 100,
      "view": 100,
      "opinion": "Excellent support of RICOH models. Close cooperation on RICOH technology. Good feature set and workflow. ",
      "details": "Can take and view high-res pictures. Set 11K with app. \
      Viewer shows fine detail of interior with zoom."       
    }
  +AwardDetailJson(data, compatData)